# Pacotes e Releases
*.zip
*.tar.gz
/dist/

# Dependências
/vendor/
/node_modules/

# Logs e arquivos de dados locais
*.log
*.sql
*.sqlite

# Arquivos de sistema e IDEs
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*~

# Caches e relatórios de teste
.phpunit.result.cache
/coverage/
.phpcs-cache
