includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 1
    reportUnmatchedIgnoredErrors: false
    paths:
        - gvn-checkout.php
        - includes/
        - templates/
        - uninstall.php
    excludePaths:
        - vendor/
        - node_modules/
        - tests/fixtures/
    ignoreErrors:
        - '#Constant [A-Z_]+ not found#'
        - '#Function (WC|woocommerce_[a-z_]+|wc_[a-z_]+) not found#'
        - '#Call to static method [a-zA-Z0-9_]+\(\) on an unknown class WC_[A-Za-z0-9_]+#'
